* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(233, 226, 216);
}

h1, h2 {
    background-color: rgb(178, 197, 233);
    padding: 24px;
    width: auto;
    border: black;
}

.container {
    background-color: rgb(24, 58, 94);
    margin: 128px auto;
    max-width: 680px;
    width: 100%;
    padding: 28px;

}

form {
    margin-top: 40px;
}

input, button {
    display: block;
    padding: 16px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
    font-size:x-large;
}

button {
    background-color: rgb(235, 128, 15);
    border: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #f7d708;
}

.success-message {
    background-color: #27ae60;
    padding: 16px;
    color: white;
    display: none;
}

.error-message {
    font-size: 12px;
    padding: 8px;
    background-color: red;
    color: white;
    margin-bottom: 8px;
    display: none;
}